/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  margin: auto;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content h1 {
  z-index: 2;
  color: whitesmoke;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

.modal-content h2 {
  color: whitesmoke;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 36px;
  text-align: center;
}

.modal-content h3 {
  color: whitesmoke;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  margin: 0 0 4px;
  text-align: center;
}
.modal-content p {
  color: whitesmoke;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 10px;
  text-align: justify;
  text-justify: inter-word;
  text-align: center;
}
/* Modal Content */
.modal-content {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: auto;
  padding: 20px;
  border: 3px solid #888;
  width: 60%;
}
.modal-content .control-box {
  display: block;
  margin: auto;
  width: 30%;
  padding: 10px;
  border: 0.5px solid gray;
  border-radius: 20px;
  margin-bottom: 30px;;
}
.modal-content form label {
  width: 250px;
  font-size: 20px;
  display: inline-block;
  text-align: center;
}
.modal-content form input {
  padding: 10px;
  margin-bottom: 20px;;
}
.modal-content .modal-header {
  width: 100%;
  height: 50px;
}
.modal-content .modal-header h3{
  display: inline-block;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.game-over-modal h3 {
  margin-bottom: 30px;
}
